@{
    ViewBag.Title = "Home Page";
} 
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

 
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <h1>Armstrong karate EST 1998 </h1>
        <!--<p>Welcome to Product for sale karate </p>-->
    </div>
</div>
</div>


<div class="col-md-4">
<h2>Picture</h2>
<p>High Quality for martial of Karate & Gi and things proctect</p>
<p><a class="btn btn-default" href="Product.cshtml.cshtml">View Product &raquo;</a></p>
    </div>

